*.DS_Store

ade_venv/

data/originais
data/dados_municipio
data/final_dataset.csv
data/geojson_files/


__pycache__/
clustering_and_exploratory/auxiliary/__pycache__
clustering_and_exploratory/csv_bruto/

*.
clustering_and_exploratory/csv_files/
clustering_and_exploratory/geojson_files/
